body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #31B7D1;
    color: white;

    .text-center {
        text-align: center;
    }

    h1 {
        font-size: 48px;
        margin: 100px 0 10px
    }
}