upstream php_fpm {
    server unix:/tmp/php-cgi.socket;
    server 127.0.0.1:9071;
}

upstream webpack_dev_server {
    server 127.0.0.1:8080;
}

server {
    server_name _;
    root /var/www/public_html;
    index index.php;

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    # Send these requests to Webpack
    location ~ (\/sockjs-node|\/dist\/|hot-update.json|hot-update.js)  {
        proxy_pass   http://webpack_dev_server;
        proxy_redirect off;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location / {
        # This is cool because no php is touched for static content.
        # include the "?$args" part so non-default permalinks doesn't break when using query string
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        fastcgi_param APPLICATION_ENV vagrant;
        include fastcgi.conf;
        fastcgi_intercept_errors on;
        fastcgi_pass php_fpm;
        include fastcgi_params;
    }
    
}